{% for post in posts %}
<div class="card">

    <div class="card-body">
        <h3>
          <ul>
            <li>
              <a href="/r/{{post.subreddit}}/post/{{post.id}}">{{ post.title }}</a>
              - <a href="/r/{{post.subreddit}}">r/{{ post.subreddit }}</a>-
              <a href="/follow/{{post.subreddit}}">Follow</a>
            </li>
          </ul>
        </h3>
        <ul>
            <span>
                {%if user.is_authenticated %}
                <button><a href="/upvote/{{post.id}}?next={{ request.path }}"
                        style="text-decoration:none; color:green">⇧</a></button>
                {{post.score}}
                <button><a href="/downvote/{{post.id}}?next={{ request.path }}"
                        style="text-decoration:none; color:red">⇩</a></button>
                    {% if post.author == request.user %}
                        <button><a href="/delete/{{post.id}}/" style="text-decoration: none; color: red">Delete</a></button>
                    {% endif%}
                {% else %}
                <button><a href="/login?next={{ request.path }}"
                        style="text-decoration:none; color:green">⇧</a></button>
                {{post.score}}
                <button><a href="/login?next={{ request.path }}" style="text-decoration:none; color:red">⇩</a></button>
                {%endif%}
            </span>
            Submitted on {{post.date_created}} by {{post.author}} from <a
                href="/r/{{post.subreddit}}">r/{{ post.subreddit }}</a>
        </ul>
    </div>
</div>
{% endfor %}
